{{#partial "content"}}
    <h3>Hero list:</h3>
    {{#if heroes}}
        {{#each heroes}}
            <a href="/hero/{{heroId}}"><p>{{ name }}</p></a>
        {{/each}}
    {{else}}
        <p>no heroes yet</p>
    {{/if}}
    <a href="/heroes"><button type="button" class="btn btn-info">Create a hero</button></a>
{{/partial}}
{{>layout.hbs}}