<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Chilanka&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div style="background-image: url(https://wallpapercave.com/wp/HGMtO8W.jpg);height:1000px;background-repeat:no-repeat;background-size:cover;color:white;font-family: 'Chilanka', cursive; text-align: center;">
    <p style="font-size:30px; ">YOU DELETED THE HERO</p>
    <a href="/heroes"><button type="button" class="btn btn-info"id="hero1">Create another hero</button></a>
</div>
</div>
</body>
</html>