{{#partial "content"}}
    <h2>Add a new Hero:</h2>

    <form action="/heroes" method="post">
        <div class="from-group">
            <label for="name">Name:</label>
            <input id="name" name="name" type="text" class="form-control">
            <label for="Age">Age:</label>
            <input id="age" name="age" type="number" class="form-control" min="18">
            <label for="powers">Spowers:</label>
            <input id="power" name="power" type="text" class="form-control">
            <label for="name">Weaknesses:</label>
            <input id="weakness" name="weakness" type="text" class="form-control">
            <label for="squad">Choose a squad:</label>
            <select class="form-control" name="squad">
                <option>Fantastic Four</option>
                <option>X-Men</option>
                <option>Justice Society of America</option>
                <option>Justice League of America</option>
                <option> The Avengers</option>
                <option>Batman/Superman</option>
                <option>The Watchmen</option>
            </select><br>
            <a href="/squad"><button type="button" class="btn btn-info">Create a squad</button></a>
            <button type="submit" class="btn btn-info">Done</button>
        </div>
    </form>
{{/partial}}
{{>layout.hbs}}