{{#partial "content"}}
    <h1 id="welcome">Welcome Welcome!!</h1>
    <h1 id="welcome1">Create Your hero</h1>
    <a href="/heroes"><button type="button" class="btn btn-info"id="hero1">Create a hero</button></a>
    <a href="/squad"><button type="button" class="btn btn-info" id="hero2">Create a squad</button></a>
{{/partial}}
{{>layout.hbs}}