{{#partial "content"}}
    <h1>hello welcome to the hero squad app</h1>
    <a href="/heroes"><button type="button" class="btn btn-info">Create a hero</button></a>
    <a href="/squad"><button type="button" class="btn btn-info">Create a squad</button></a>
{{/partial}}
{{>layout.hbs}}