{{#block "header"}}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{#block "title"}}Hero Squad App{{/block}}</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Chilanka&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">

</head>
{{/block}}
<body>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"class="nav"><a href="/">Home</a></li>
    <li role="presentation" class="nav"><a href="/Hlist"> All heros</a></li>
    <li role="presentation" class="nav"><a href="/Slist">All Squads</a></li>
</ul>
<div class="container-fluid">
    <div class="card">
    {{#block "content"}}

    {{/block}}
    </div>
</div>
{{#block "footer"}}
    <footer>
        <div class="container-fluid">
            <p>Copyright &copy; All Rights Reserved Hero Squad</p>
        </div>
    </footer>
    </body>
    </html>
{{/block}}
