{{#partial "content"}}
    <ul>
        <li>name:{{suad.name}}</li>
        <li>Max-size:{{suad.number}}</li>
        <li>Reason for fighting:{{suad.fight}}</li>
    </ul>

{{/partial}}
{{>layout.hbs}}