{{#partial "content"}}
    <h1 id="creatH">Congrats your created a hero</h1>
    <a href="/Hlist" id="view"><button type="button" class="btn btn-info">See your Hero!!</button></a>
{{/partial}}
{{> layout.hbs}}
