{{#partial "content"}}
        <h3 id="hlist">Squad list:</h3>
        <ul style="font-size:25px;font-family: 'Chilanka', cursive;Text-decoration:none">
            <li>name:{{name}}</li>
            <li>Max team size:{{number}}</li>
            <li>Reason to fight:{{fight}}</li>
        </ul>
    <a href="/squad"><button type="button" class="btn btn-info">Create a squad</button></a>
{{/partial}}
{{>layout.hbs}}